gunicorn==19.7.1
click==6.7
colour==0.1.4
coverage==4.4.1
Flask==0.12.2
Flask-Script==2.0.5
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
numpy==1.13.1
scipy==0.19.1
scikit-learn==0.18.2
Werkzeug==0.12.2
matplotlib==1.5.3
pandas==0.19.1
pandas-datareader==0.4.0
pylibmc==1.5.2
alpha-vantage==1.2.1
