{% extends 'content.html' %}

{% block content %}

	<p><h2> Things to Read </h2></p><br>
	
	<p>I hope to have enough time to start writing some of my own articles someday, but until then, here are a few that I think have a lot of value:</p><br>

	<p><a href="a href='https://www.nytimes.com/2014/12/07/nyregion/how-game-theory-helped-improve-new-york-city-high-school-application-process.html?_r=0'">How Game Theory Helped Improve New York City’s HS Application Process</a></p>
	<p>Details the clever "deferred-acceptance" algorithm used to place each New York City eighth grader into one of the city's hundreds of high schools, with the highest overall satisfaction.</p><br/>

	<p><a href="http://humantransit.org/">Human Transit</a></p>
	<p>Can I link an entire blog as an "article"? Jarrett Walker is a professional public transit consultant, and he has great common-sense ideas for making scalable cities which can sustain ever-growing populations.</p><br/>
	
	<p><a href='http://drawabox.com/lesson/1'>Draw a Box Lesson 1: Lines, Ellipses, Boxes</a></p>
	<p>The introductory lesson for an online drawing course. A great, friendly instance of example-driven education, and a style I try to emulate when I teach.</p>

{% endblock %}