<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta name="description" content="A website for brandon willett?">
	<meta name="author" content="brandon willett">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Willett dot io</title>

	<link rel="stylesheet" type="text/css" href="homestatic/css/bootstrap-reboot.min.css">
	<link rel="stylesheet" type="text/css" href="homestatic/css/bootstrap-grid.min.css">
	<link rel="stylesheet" type="text/css" href="homestatic/css/content.css">
	<link href="https://fonts.googleapis.com/css?family=Bitter|Open+Sans:400,700" rel="stylesheet">

</head>
<body>

	<div id="titleBox" class="row">
		<div class="col-12 push-sm-2 col-sm-8" id="name">brandon willett</div>
	</div>

	<div class="row">
		<div id="content" class="push-1 col-10 push-sm-2 col-sm-8 push-md-3 col-md-6">
			{% block content %} Placeholder, please don't use me by myself {% endblock %}
		</div>
	</div>

</body>
</html>