<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta name="description" content="A website for brandon willett?">
	<meta name="author" content="brandon willett">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Willett dot io</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('willettApp.static', filename='css/bootstrap-reboot.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('willettApp.static', filename='css/bootstrap-grid.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('willettApp.static', filename='css/style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Bitter|Open+Sans:300,400,700" rel="stylesheet">

</head>
<body>

	<div class="container-fluid">
		<div id="smallTitle" class="row">
			<div class="col-12 push-sm-2 col-sm-8" id="name"><a href="/" id="backButton">«</a>brandon willett</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div id="contentCol" class="push-1 col-11 push-sm-2 col-sm-8 push-md-3 col-md-6">
				{% block content %} Placeholder, please don't use me by myself {% endblock %}
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<footer class="row">
			<div id="footer" class="col-12 push-sm-2 col-sm-8">Brandon Willett, University of Rochester, Class of 2018</div>
		</footer>
	</div>

</body>
</html>