{% extends 'content.html' %}

{% block content %}

	<h2> Get in Touch </h2><br/>

	brandon [at] willett.io<br/>
	Email will always be the best way to contact me -- it stares me right in the face every morning, which makes it hard for me to forget about. <br/><br/>

	<a href="https://github.com/pickledish">GitHub</a><br/>
	
	<a href="https://linkedin.com/in/brandonwillett">LinkedIn</a><br/>
	For the more professional side of things! I don't check this site very often, though, so reaching me via email is a better bet.

{% endblock %}