{% extends 'content.html' %}

{% block content %}

	<p><h2> Get in Touch </h2></p><br/>

	<p><a href="mailto:brandon@willett.io">brandon [at] willett.io</a></p>
	<p>Email will always be the best way to contact me -- it stares me right in the face every morning, which makes it hard for me to forget about.</p><br/>

	<p><a href="https://github.com/pickledish">GitHub</a></p>
	<p>The source for this very website (along with most of my other projects) is always up-to-date here. I would quit CS entirely if it weren't for Git.</p><br/>
	
	<p><a href="https://linkedin.com/in/brandonwillett">LinkedIn</a></p>
	<p>For the more professional side of things. I don't check this site very often, though, so reaching me via email is usually a better bet.</p>

{% endblock %}