{% extends 'content.html' %}

{% block content %}

	<h2>What I've Been Working On</h2><br/>

	<a href="/colors">Colors</a><br/>
	Answer a few questions about which colors you think look good together, and train your own little decision tree classifier to give you suggestions on new color pairings you'll probably like! Check out the code <a href="https://github.com/pickledish/Colors">here</a>. <br/><br/>

	<a href="https://github.com/pickledish/TrafficLights">Traffic Lights</a><br/>
	Tries to find an answer to the question, "What would be the ideal timings for this group of traffic signals?". Uses a Markov chain (the metropolis filter) to traverse the state space, always edging closer to the optimal timings. Continuously under improvement!

	<a href="/chimowitz">sssss</a><br/>
	Implementation of a graduate student's thesis algorithm, which uses simulated annealing to determine the most "important" rows and columns in a matrix. Note, the program only uses the "stock input" field to fetch test data -- invest at your own risk!



{% endblock %}