* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	overflow: hidden;
}

body {
	font-family: 'Lato', sans-serif;
	height: 100%;
	font-size: 0;
}

h1 {
	font-size: 30pt;
	font-weight: 400;
	z-index: 3;
	font-family: 'Bitter';
}

h3 {
	font-family: 'Bitter';
	font-weight: 400;
	font-size: 16pt;
	padding-left: 40px;
	clear: both;
}

img {
	overflow-x: hidden;
}

#sidebar {

	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;

	will-change: transform;

	position: fixed;
	display: flex;
	align-items: center;

	font-size: 12pt;
	color: #EEAF0F;

	background-color: #262626; 

	width: 100%;
	height: 100%;

	text-align: right;
	z-index: 4;
}

#sideContent {
	width: 98vw;
	line-height: 250%;
}

#sideContent h1:hover {
	text-shadow: 0 0 6px #FFFFFF;
	cursor: pointer;
}

#sideContent ul li:hover {
	text-shadow: 0 0 6px #FFFFFF;
	cursor: pointer;
}

.content {
	box-sizing: border-box;
	padding: 30px;
	position: absolute;
	margin: 0 0 0 30%;

	font-size: 12pt;
	line-height: 200%;

	background-image: url("/static/geometry.png");
    background-repeat: repeat;
	width: 70%;
	height: 100%;
}

#whoContent {
	padding: 0;
}

#whoContent h1 {
	position: absolute;
	top: calc(50% - 176px);
	left: 30px;

	font-weight: 400;
}

#whoContent img {
	width: auto;
	height: 100%;
	float: left;
}

#goodContent {
	overflow-y: auto;
}

h1+ p {
	margin-top: 20px;
}

p + h3 {
	margin-top: 40px;
}

.right {
	margin: 40px 0px 40px 40px;
	width: 720px;
}

#articlesContent .right, #goodContent .right, #projectsContent .right {
	margin: 20px 0px 40px 80px;
}

#articlesContent p {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration-line: underline;
}



