<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="google-site-verification" content="hwqIwFtoJektiqWVNttY1fH1eEtJZs0yLYwZ10Xb_rs" />
		<title>Brandon Willett</title>

		<link rel='stylesheet' type='text/css' href='/static/index.css' \>
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400|Bitter" rel="stylesheet">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.js'></script>

		<script type="text/javascript" src='/static/index.js'></script>
	</head>

	<body>
		
		<div id='sidebar'> 

			<div id='sideContent'> 

				<h1> brandon willett </h1> <br/> <br />

				<ul>

					<li id='who'> Who I Am </li>
					<li id='good'> What I'm good at </li> 
					<li id='bad'> What I'm bad at </li>
					<li id='projects'> Projects </li>
					<li id='articles'> Articles </li>
					<li id='contact'> Contact Me </li>

				</ul>

			</div>

		</div>

		<div class='content' id='whoContent'> 

			<img src='/static/better_mini_mini.jpg'>

			<h1 style='text-shadow: 0 0 5px #FFFFFF;'> developer in development. </h1>

		</div> 

		<div class='content' id='goodContent'> 
			<h1> the great parts </h1> 

			<p> <hr> </p>

			<h3> I care about the little things and take a lot of pride in the work I do.</h3> 

			<div class='right'> I'm currently a student at the University of Rochester, in the beautiful state of New York. I'm due to graduate in December of 2017, with a major in Computer Science, a minor in Math, and (Parisians willing, when I make it over there next year) a fluent grasp of the French language. In school, I've been studying data science and the application of linear algebra, and on the side I've been working at picking up some more front-end experience, like with JQuery and the more popular web frameworks. In fact, this very website was born in the process! <br> <br>

			I've worked part-time in IT for the last six years, and been a TA for some Computer Science classes at my school (introductory and data structures, which I love) for one. More recently, I've become a supervisor at Event and Classroom Management here at the U of R, and taken up work developing web software to analyze and visualize the effect of small changes on an algorithm that solves linear systems. This last job, while new, is definitely my favorite so far since it gives me the chance to put some real care into the code I'm writing, and have that actually matter. <br> <br>

			In my free time, I currently like to waste hours next to a stove trying to make a cup of coffee that actually lives up to my apparently-ridiculous standards, learn how to do a better job fixing up my 1990's bicycle, read, and sit outside watching squirrels do whatever it is that squirrels like to do. I've given up on trying to figure out what that is, though.

			</div>

			<h3> The beauty is in the details. </h3>

			<div class='right'>
				<p> Languages: Proficient with Python, Java, C; and experience with C++, Scala, Swift </p>
				<p> Web: Proficient with HTML, CSS, JavaScript, JQuery; and experience with SQL and MVC frameworks </p>
				<p> Other: Proficient with Git source control, BASH terminal use, and LaTeX </p>
			</div>

		</div>

		<div class='content' id='badContent'>
			<h1> the not-so-great parts </h1> 

			<p> <hr> </p>

			<div class="right"> </div>

		</div> 

		<div class='content' id='projectsContent'> 
			<h1> what i'm working on </h1>

			<p> <hr> </p>

				<h3> This Very Web Server </h3>

				<div class='right'> This website is hosted on a Raspberry Pi sitting in my basement running a Debian/Apache/Python stack. Just using Google Apps for mail right now, but I'm looking to move over to local Postfix system (if the Pi can even handle it!) soon. </div>

				<h3> <a href='http://chimowitz.us-east-2.elasticbeanstalk.com'> Monte Carlo Matrix Analysis </a> </h3>

				<div class='right'> Website created to show the output of a simulated-annealing time series analysis on random variables. When given samples of random variables, some will have higher than normal correlation with each other, and will thus be more effective together. This algorithm finds the best proportion of each to use. </div>

		</div> 

		<div class='content' id='articlesContent'> 
			<h1> articles of the month </h1> 

			<p> <hr> </p>

			Interesting articles I've come across! "Interesting" is subjective.

				<h3> <a href='https://blog.acolyer.org/2016/04/21/the-amazing-power-of-word-vectors/'> The Amazing Power of Word Vectors </a> </h3>

				<div class='right'> An easy-to-understand explanation of the word-embedding model, also known (by me) as "the most exciting thing to come out of data science since clustering" </div>

				<h3> <a href='https://www.nytimes.com/2014/12/07/nyregion/how-game-theory-helped-improve-new-york-city-high-school-application-process.html?_r=0'> How Game Theory Helped Improve New York City’s HS Application Process </a> </h3>

				<div class='right'> Details the clever "deferred-acceptance" algorithm used to place each New York City eighth grader into one of the city's hundreds of high schools, with the highest overall satisfaction </div>

				<h3> <a href='http://drawabox.com/lesson/1'> Draw a Box Lesson 1: Lines, Ellipses, Boxes </a> </h3>

				<div class='right'> The introductory lesson for an online drawing course. A great, friendly instance of example-driven education, and a style I try to emulate when I teach </div>

		</div> 

		<div class='content' id='contactContent'> 

			<h1> drop me a line </h1>

			<p> <hr> </p>

			<div class='right'> If you ever need anything, you're best off shooting me an email: <br/> <br/>

			<h3> brandon [at] willett.io </h3> <br/> 

			To get a look at a day in the life of one of Brandon's programs, you can check out my GitHub: <br/> <br/>

			<h3> <a href='http://github.com/pickledish'> github.com/pickledish </a> </h3> <br/> 

			For the more professional side of things, there's my LinkedIn page: <br/> <br/>

			<h3> <a href='http://linkedin.com/in/brandonwillett'> linkedin.com/in/brandonwillett </a> </h3> <br/> 

			</div>

		</div> 

	</body>

</html>





