/* Dark grey is certified cooler than black */

* {
	color: #4A4A4A;
}

/* CSS for the "navbar", the title box with the name in it */

#titleBox {
	height: 8vh;
}

#name {
	line-height: 8vh;
	font-size: 4vh;
	height: 100%;
	font-family: 'bitter';
	border-bottom: 1px solid #e8a20a;
	text-align: center;
}

/* CSS for the main content, underneath the title box */

#content {
	margin-top: 12vh;
	width: auto; 
	padding: 16px 0 16px 4.5vw;
	border-left: 1px solid #e8a20a;
	font-family: 'Open Sans';
	font-size: 1em;
	line-height: 1.8em;
}

@media (min-width: 768px) {
	#content {
		padding-left: 28px;
		padding-right: 14px;
	}
}




