* {
	color: #4A4A4A;
}

#titleBox {
	height: 24vh;
}

.align-items-center {
	display: flex;
	align-items: center;
	height: 100%;
}

#content {
	margin-top: 12vh;
	width: auto; 
	padding: 24px;
	border-left: 1px solid #e8a20a;
	font-family: 'Open Sans';
	font-size: 1em;
	line-height: 1.8em;
}

.span12 {
	font-size: 24pt;
}

.col-md-1 {
	background-color: white;
	height: 50px;
}

#name {
	line-height: 24vh;
	height: 100%;
	font-family: 'bitter';
	border-bottom: 1px solid #e8a20a;
	text-align: center;
}

@media (max-width: 600px) {
	#name {
		font-size: 24pt
	}
}

@media (min-width: 601px) {
	#name {
		font-size: 36pt;
	}
}




